<html>
  <body>
    {% extends 'base.html' %}
    {% block content %}
      <h1>Medikua aldatu</h1>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Izena</th>
            <th>Abizena</th>
            <th>Jaiotze Data</th>
          </tr>
        </thead>
        <tbody>
          {% for medikua in medikuak %}
          <tr>
            <td>{{ medikua.izena }}</td>
            <td>{{ medikua.abizena }}</td>
            <td>{{ medikua.jaiotze_data }}</td>
            <td><a href="{% url 'zerrenda-medikua-aldatu' medikua.id %}" class="btn btn-default">Aldatu</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}
  </body>
</html>