<html>
  <body>
    {% extends 'base.html' %}
    {% block content %}
      <h1>Pazientea ezabatu</h1>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Izena</th>
            <th>Abizena</th>
            <th>Jaiotze Data</th>
          </tr>
        </thead>
        <tbody>
          {% for paziente in pazienteak %}
          <tr>
            <td>{{ paziente.izena }}</td>
            <td>{{ paziente.abizena }}</td>
            <td>{{ paziente.jaiotze_data }}</td>
            <td><a href="{% url 'zerrenda-paziente-ezabatu' paziente.id %}" class="btn btn-default">Ezabatu</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}
  </body>
</html>